*{
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.container{
    display: flex;
}
.container1{
    width: 900px;
    background-image: url(login.png);
}
.leftlogo img{
    width: 40%;
    height: 40%;
    justify-content: center;
    display: block;
    margin:30%;
}
.container2{
    background-color: black;
    width: 650px;
    padding: 36px;
}
.rightlogo img{
    height: 40px;
    width: 40px;
    padding-bottom: 12px;
}
#text1{
    font-size: 60px;
    font-weight: bolder;
    padding: 48px 0;
}
